<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/authnTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">

    </ui:define>

    <ui:define name="content">
        <div class="jumbotron">
            <h1>Admin Welcome</h1>
            <p>Hello Admin #{loginController.remoteUser}</p>
            <a class="btn btn-lg btn-primary" href="#" role="button">View more about WordsWorth</a>
        </div>
        <h2>Orders</h2>
        <h:dataTable class="table table-hover table-bordered " value="#{orderTableService.findAll()}" var="ordertable">
            <h:column>
                <f:facet name="header" >
                    <h:outputText value="ID"/>
                </f:facet>
                <h:outputText value="#{ordertable.id}"></h:outputText>
            </h:column>

            <h:column>
                <f:facet name="header">
                    <h:outputText value="Customer Name"/>
                </f:facet>
                <h:outputText value="#{ordertable.getCustomer().getFirstname()}"></h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Order Date"/>
                </f:facet>
                <h:outputText value="#{ordertable.orderdate}">
                    <f:convertDateTime type="both" dateStyle="short" timeStyle="full" timeZone="#{appConfig.timeZone}"/>
                </h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Total Price in $"/>
                </f:facet>
                <h:outputText value="#{ordertable.totalprice}"></h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header" >
                    <h:outputText value="Product Price in INR"/>
                </f:facet>
                <h:outputText value="#{ordertable.totalprice}">
                    <f:converter converterId="rupeeConverter">
                    </f:converter>
                </h:outputText>
            </h:column>
            
        </h:dataTable>
    </ui:define>

</ui:composition>
