<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/authnTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        Products
    </ui:define>

    <ui:define name="content">
        <div class="jumbotron">
            <h1>Admin Welcome</h1>
            <p>Hello Admin #{loginController.remoteUser}</p>
            <a class="btn btn-lg btn-primary" href="#" role="button">View more about WordsWorth</a>
            <h:form>
                <h:link class="btn btn-lg btn-primary" outcome="/admin/welcome.xhtml" value="Back"/> 
            </h:form>

        </div>
        <h2>Product Details</h2>

        <h:dataTable class="table table-striped table-hover" value="#{productService.findAll()}" var="product">

            <h:column>
                <f:facet name="header">
                    <h:outputText value="ID"/>
                </f:facet>
                <h:outputText value="#{product.id}">
                </h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Product Name"/>
                </f:facet>
                <h:outputText value="#{product.productname}">
                </h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Category"/>
                </f:facet>
                <h:outputText value="#{product.categoryname}">
                </h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Price ($)"/>
                </f:facet>
                <h:outputText value="#{product.price}">
                </h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header" >
                    <h:outputText value="Price (INR)"/>
                </f:facet>
                <h:outputText value="#{product.price}">
                    <f:converter converterId="rupeeConverter">
                    </f:converter>
                </h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Quantity"/>
                </f:facet>
                <h:outputText value="#{product.productquantity}">
                </h:outputText>
            </h:column>
            
        </h:dataTable>
    </ui:define>

</ui:composition>
