<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/authnTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">

    </ui:define>

    <ui:define name="content">
        <div class="jumbotron">
            <h1>Admin Welcome</h1>
            <p>Hello admin #{loginController.remoteUser}</p>
            <a class="btn btn-lg btn-primary" href="#" role="button">View more about WordsWorth</a>

        </div> 
        <h2>Customer Details</h2>
        <h:dataTable class="table table-hover table-bordered " value="#{customerService.findAll()}" var="customer">
            <h:column>
                <f:facet name="header" >
                    <h:outputText value="ID"/>
                </f:facet>
                <h:outputText value="#{customer.id}"></h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="FirstName"/>
                </f:facet>
                <h:outputText value="#{customer.firstname}"></h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="LastName"/>
                </f:facet>
                <h:outputText value="#{customer.lastname}"></h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="ContactNo"/>
                </f:facet>
                <h:outputText value="#{customer.contactno}"></h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Address"/>
                </f:facet>
                <h:outputText value="#{customer.address}"></h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="EmailId"/>
                </f:facet>
                <h:outputText value="#{customer.email}"></h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Username"/>
                </f:facet>
                <h:outputText value="#{customer.user.userName}"></h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Orders placed"/>
                </f:facet>
                <h:outputText value="#{customer.ordertable.size()}"></h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Registered Date"/>
                </f:facet>
                <h:outputText value="#{customer.registeredDate}">
                    <f:convertDateTime type="both" dateStyle="short" timeStyle="full" timeZone="#{appConfig.timeZone}"/>
                </h:outputText>
            </h:column>

        </h:dataTable>
        <h2>Employee Details</h2>
        <h:dataTable class="table table-striped table-bordered table-hover" value="#{employeeService.findAll()}" var="employee">
            <h:column>
                <f:facet name="header">
                    <h:outputText value="ID"/>
                </f:facet>
                <h:outputText value="#{employee.id}"></h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="FirstName"/>
                </f:facet>
                <h:outputText value="#{employee.firstname}"></h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="LastName"/>
                </f:facet>
                <h:outputText value="#{employee.lastname}"></h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="ContactNo"/>
                </f:facet>
                <h:outputText value="#{employee.contactno}"></h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Address"/>
                </f:facet>
                <h:outputText value="#{employee.address}"></h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="EmailId"/>
                </f:facet>
                <h:outputText value="#{employee.email}"></h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Username"/>
                </f:facet>
                <h:outputText value="#{employee.user.userName}"></h:outputText>
            </h:column>

            <h:column>
                <f:facet name="header">
                    <h:outputText value="Registered Date"/>
                </f:facet>
                <h:outputText value="#{employee.registeredDate}">
                    <f:convertDateTime type="both" dateStyle="short" timeStyle="full" timeZone="#{appConfig.timeZone}"/>
                </h:outputText>
            </h:column>
        </h:dataTable>
    </ui:define>


</ui:composition>
