<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/authnTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">

    </ui:define>

    <ui:define name="content">
        <div class="jumbotron">
            <h1>Customer Welcome</h1>
            <p>Hello customer #{loginController.remoteUser}</p>
            <a class="btn btn-lg btn-primary" href="#about" role="button">View more about WordsWorth</a>
            <h:form>
                <h:commandButton class="btn btn-lg btn-primary"  action="/customer/welcome.xhtml" value="Back "/>

            </h:form>

            <button id="myBtn" class="btn btn-lg btn-primary">Cart</button>



        </div> 

        <script>
            document.getElementById('myBtn').onclick = function () {
                document.getElementById('myModal').style.display = "block";
            }
//            var c=document.getElementsByClassName('close')[0];
//            console.log(c)
//            c.onclick=function (){
//                document.getElementById('myModal').style.display = "none";
//            }

            window.onclick = function (event) {
                if (event.target == document.getElementById('myModal')) {
                    document.getElementById('myModal').style.display = "none";
                }
            }
        </script>
        
        <div id="myModal" class="modal">

            <div class="modal-content">


                <h:dataTable class="table table-striped table-hover" value="#{placeOrderController.allOrderDetails}" var="products">
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Product Id"/>
                        </f:facet>
                        <h:outputText value="#{products.product.id}">
                        </h:outputText>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Name"/>
                        </f:facet>
                        <h:outputText value="#{products.product.productname}">
                        </h:outputText>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Price ($)"/>
                        </f:facet>
                        <h:outputText value="#{products.productprice}">
                        </h:outputText>
                    </h:column>
                    <h:column>
                        <f:facet name="header" >
                            <h:outputText value="Price (INR)"/>
                        </f:facet>
                        <h:outputText value="#{products.productprice}">
                            <f:converter converterId="rupeeConverter">
                            </f:converter>
                        </h:outputText>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Quantity"/>
                        </f:facet>
                        <h:outputText value="#{products.quantity}">
                        </h:outputText>
                    </h:column>

                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Total"/>
                        </f:facet>
                        <h:outputText value="#{products.total}">
                        </h:outputText>
                    </h:column>
                </h:dataTable>

                <h:form class="form-group row">
                    <h:outputLabel class="addcart" for="address" value="Address"/>
                    <h:inputText class="form-control" id="Address" binding="#{address}" required="true"/> <br></br>
                    <h:outputLabel class="addcart" for="mobilenumber" value="Mobile Number"/>
                    <h:inputText class="form-control" id="mn" binding="#{mn}" required="true"/> 
                    <h:commandButton class="btn btn-lg btn-primary" action="#{placeOrderController.createOrder(address.value,mn.value)}" value="Confirm Order"/>
                    <h:outputLabel value="#{placeOrderController.total}"/>

                </h:form>
            </div>
        </div>
        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h2>Products</h2>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->

        <h:form>
            <ui:repeat value="#{productService.findAll()}" var="product">
                <h:column>
                    <div class="thumbnail">
                        <div>
                            <img src="#{product.image}" width="490px" height="400px" alt=""/>
                        </div>
                        <div class="container aboutitem">
                            <h3><h:outputLabel value="#{product.productname}"></h:outputLabel></h3>

                            <h3><h:outputLabel value="#{product.categoryname}"></h:outputLabel></h3>
                            <h3>$<h:outputLabel value="#{product.price}"></h:outputLabel></h3>
                            <h:selectOneMenu id="quantity" class="quan" value = "0" binding="#{quantity}"> 
                                <f:selectItem itemValue = "1" itemLabel = "1" /> 
                                <f:selectItem itemValue = "2" itemLabel = "2" /> 
                                <f:selectItem itemValue = "3" itemLabel = "3" /> 
                                <f:selectItem itemValue = "4" itemLabel = "4" /> 
                                <f:selectItem itemValue = "5" itemLabel = "5" />
                                <f:selectItem itemValue = "5" itemLabel = "6" />
                                <f:selectItem itemValue = "5" itemLabel = "7" />
                                <f:selectItem itemValue = "5" itemLabel = "8" />
                            </h:selectOneMenu> 
                            <p>
                                <h:commandButton class="btn btn-lg btn-primary" action="#{placeOrderController.createProductforOrder(product,quantity.value)}" value="Add to cart"/>
                            </p>
                            <h:outputLabel value="Available: #{product.productquantity}"></h:outputLabel>
                        </div>
                    </div>
                </h:column>


            </ui:repeat>
        </h:form>


    </ui:define>


</ui:composition>
