<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ezcomp="http://xmlns.jcp.org/jsf/composite/ezcomp">

    <body>

        <ui:composition template="./../WEB-INF/templates/authnTemplate.xhtml">

            <ui:define name="title">
                <h2>View Order</h2>
            </ui:define>

            <ui:define name="content">


                <ezcomp:order 
                    order="#{customerPortalController.ordertable}"
                    readonly="true"/>

                <h:link class="btn btn-lg btn-primary" outcome="/customer/welcome.xhtml" value="Back"/> 
            </ui:define>

        </ui:composition>

    </body>
</html>
