<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./WEB-INF/templates/publicTemplate.xhtml">

    <ui:define name="title">
        Error Page
    </ui:define>

    <ui:define name="content">
         <h1>There has been an issue with your login. Please enter correct details</h1>
    </ui:define>

</ui:composition>
