<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./WEB-INF/templates/publicTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="title">

    </ui:define>

    <ui:define name="content" class="back">
        <h:body>
            <h2>Sign up Page</h2>

            <h:form>

                <div>    
                    <div>
                        <h:outputLabel class="form-group" for="id" value="CustomerId #{signupController.customer.id}" rendered="#{not empty signupController.customer.id}" />
                        <h:inputHidden id="id" value="#{signupController.customer.id}" />
                    </div>
                </div>
                <div class="row">
                    <h:panelGroup layout="block" class="form-group">
                        <h:outputLabel class="plabel" for="userName" value="User Name :"/>
                        <h:inputText 
                            class="form-control" 
                            id="userName" 
                            value="#{signupController.customer.user.userName}" required="true"
                            />
                        <h:message for="userName" style="color:red"/>
                    </h:panelGroup>

                    <h:panelGroup layout="block" class="form-group">
                        <h:outputLabel class="plabel" for="password" value="User Password :"/>
                        <h:inputSecret 
                            class="form-control" 
                            id="password" 
                            value="#{signupController.customer.user.password}" required="true"
                            />
                        <h:message for="password" style="color:red"/>
                    </h:panelGroup>
                </div>

                <div class="row">
                    <h:panelGroup layout="block" class="form-group">
                        <h:outputLabel class="plabel" for="custname" value="Customer First Name (min 4 letters) :"/>
                        <h:inputText 
                            class="form-control" 
                            id="custname" 
                            value="#{signupController.customer.firstname}" required="true"
                            />
                        <h:message for="custname" style="color:red"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" class="form-group">
                        <h:outputLabel class="plabel" for="custlastname" value="Customer Last Name :"/>
                        <h:inputText 
                            class="form-control" 
                            id="custlastname" 
                            value="#{signupController.customer.lastname}" required="true"
                            />
                        <h:message for="custlastname" style="color:red"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" class="form-group">
                        <h:outputLabel class="plabel" for="custph" value="Customer Phone :"/>
                        <h:inputText 
                            class="form-control" 
                            id="custph" 
                            value="#{signupController.customer.contactno}" required="true"
                            />
                        <h:message for="custph" style="color:red"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" class="form-group">
                        <h:outputLabel class="plabel" for="custemail" value="Customer Email :"/>
                        <h:inputText 
                            class="form-control" 
                            id="custemail" 
                            value="#{signupController.customer.email}" required="true"
                            />
                        <h:message for="custemail" style="color:red"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" class="form-group">
                        <h:outputLabel class="plabel" for="custaddress" value="Customer Address :"/>
                        <h:inputText 
                            class="form-control" 
                            id="custaddress" 
                            value="#{signupController.customer.address}" required="true"
                            />
                        <h:message for="custaddress" style="color:red"/>
                    </h:panelGroup>

                </div>

                <div class="row">
                    <div  align="center">
                        <h:commandButton action="#{signupController.createcustomer()}" class="btn btn-lg btn-primary" value="Create Customer"/>
                        <h:button class="btn btn-lg btn-primary" outcome="login" value="Back" />
                    </div>
                </div>

            </h:form>

        </h:body>
    </ui:define>

</ui:composition>
